
<head>
    <title>Accueil</title>
    <link rel="stylesheet" href="/clients/assets/css/bootstrap.min.css">
    

</head>


<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link " id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab"><div style="" class="card">
        <div style="" class="card-body">
                <h5 style="font-size: 16px;" class="card-title">Projet 1</h5>
            <div style="display: block;" class="">
                <h7 style="" class="card-subtitle mb-2 text-muted">2021-09-13T09:19:31.115Z</h7>
                <h7 style="" class="card-subtitle mb-2 text-muted p-2">Ouvert</h7>
            </div>
            <div style="float: left; width: 70%;" class="">
                <p id="paragraph43_312_371_11_52" class="card-text">
                    <span style="float: left; font-size: 14px; font-weight: bold;" class="">Description :</span>
                    <span class="">vsdvwxcxcvbtg</span>
                </p>
                <p style="display: inline;" id="paragraph58_316_374_14_55" class="card-text"></p>
                <div style="" class="">
                    <div style="" class="">
                        <span style="font-weight: bold;" class="mt-2">Start Date : </span>
                        <span style="" class="">fsdfsd</span>
                    </div>
                    <div style="" class="">
                        <span style="font-weight: bold;" class="">Deadline :  </span>
                        <span style="" class="">fsdfdfsd</span>
                    </div>
                </div>
            </div>
            <div style="float: right; width: 12%;" class="">
                <span style="font-weight: bold;" class="">Membres :</span>
                <div style="height: 4rem;" class="overflow-auto ">
                    <div style="" class="">
                        <span class="">gbe</span>
                    </div>
                    <div style="" class="">
                        <span class="">chabi boukari</span>
                    </div>
                    <div style="" class="">
                        <span class="">odjo</span>
                    </div>
                    <div style="" class="">
                        <span class="">rrrr</span>
                    </div>
                    <div style="" class="">
                        <span class="">gbe</span>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab"><div style="" class="">
        <div style="" class="row">
            <div style="" class="col-md-6 mt-2">
                <div style="" class="card">
                    <div style="" class="pt-2 d-flex justify-content-end hidden-item-show">
                        <div style="" class="mt-2 hidden-item">
                            <div style="" class="pt-1 mr-3 fa fa-plus"></div>
                            <span class="pt-1 mr-3 fa fa-file-upload"></span>
                            <span class="pt-1 mr-2 fa fa-lock"></span>
                        </div>
                    </div>
                    <div style="" class="card-body">
                        <a id="title_27" href="javascript:;" class="pt-2 d-flex justify-content-between hidden-item-show">
                            <h5 class="card-title text-truncate mt-2">Tache 1</h5>
                        </a>
                        <p style="max-width: 400px;" id="text_29" class="card-text  text-truncate">sfds</p>
                        <div style="" class="text-muted border-top  pt-2">
                            <span class="mt-2 mr-1">He stays</span>
                            <span class="mt-2">  -5 days</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
  </div>

<%- include('footer.ejs') %>